@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.search-field-input
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: none;
    outline: none;
    font-size: 36pt;
    font-weight: lighter;
    text-align: center;
}

.search-field-div
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 75%;
    left: 12%;
    height: 70px;
    border-radius: 10px;
    position: relative;
}

.header
{
    
    width: 60%;
    height: 600px;
    background-image: url("bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-top: 5%;
    
    border-color: white;
    border-width: 10px;    
}

.h{
    font-size: 500%;
    color: white;
    text-align: center;
    padding-top: 15%;
}

body
{
    background-color: #ea0000;
}

p{
    font-family: 'Nunito', sans-serif;    
}

.welcome-text
{
    color: white;
    text-align: center;
    font-size: 200%;    
}

.hint
{
    color: white;
    text-align: center;
    font-size: 150%;  
}

.bottom
{
    margin-top: 0%;
}
.split
{
    font-size: 56pt;
    color: white;
    text-align: center;
}
.dates{
    display: flex;
    flex-wrap: wrap;
    width: 93.5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 45px;
    align-items: center;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.date-button
{
    border-radius: 10px;
    padding: 1%;
    height: 100%;   
    width: auto;
    background-color: white;
}

.dates:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.date-button:hover{
    background-color: #dddddd;
}

.films-area
{
    margin-left: 20%;
    margin-top: 5%;
    width:60%;
    margin-bottom: 5%;
}

.film-button
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
    border-radius: 10px;
    height: 250px;
    line-height: 20px;   
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}

.film-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.fb_desc
{
    font-size: 14pt;
}

.fb_film_name
{
    font-size: 20pt;
}

.fb_desc_value
{
    font-size: 16pt;
}

.text
{
    padding-top: 25px;
    padding-left: 10px;
}

.group
{
    display: flex;
    align-items: baseline;
    padding-left: 10px;
}

.more
{
    font-size: 14px;
    font-style: oblique;    
    color: gray;
    
}

img{
    float: left;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 180px;
    overflow: hidden;
}


.left-top{
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    width: 160px;
}

.about
{
    text-align: center;
    color: white;
}

.window
{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: fixed;
    width: 50%;
    height: auto;
    background-color: white;
    left: 24%;
    top: 25%;
    bottom: 10%;
    border-radius: 10px;
    overflow:scroll;
}

.window-top
{
    height: 200px;
    line-height: 20px;    
}

.btn-round {
    background-color: #ea0000;
    border-radius: 999em;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    cursor: pointer;
    position: relative;


    display: inline-block;
}

.btn-round span {
    position: absolute;
    left: 0;
    top: 55%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -22px;
    color: #FFF;
}

.text-centred
{
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody{
    text-align: center;
}
tr
{
    text-align: center;
}

.contact-btns
{
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}



.close-btn {
	box-shadow:inset 0px 1px 0px 0px #cc8686;
	background:linear-gradient(to bottom, #ea0000 5%, #de2c2c 100%);
	background-color:#ea0000;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:13px;
    font-weight:bold;
	padding:12px 12px;
    text-decoration:none;
    width: 100px;
    height: 45px;
    margin-bottom: 45px;
}
.close-btn:hover {
	background-color:#de2c2c;
}
.close-btn:active {
	position:relative;
	top:1px;
}

.content-center
{
    width: 100%; 
    padding-top: 10px;
    text-align: center;
}
